{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    {% if action == 'new' %}
        <button class="btn btn-primary" value="create" name="create">Créer</button>
        <button class="btn btn-secondary" value="publish" name="create">Publier</button>
    {% elseif action == 'cancel' %}
        <button class="btn btn-danger">Cancel</button>
    {% elseif action == 'edit' %}
        <button class="btn btn-primary">Edit</button>
    {% endif %}

{{ form_end(form) }}
