{% extends 'base.html.twig' %}

{% block title %}Edit Outing{% endblock %}

{% block main %}
    <h1>Edit Outing</h1>

    {{ include('outing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('outing_index') }}">back to list</a>

    <a href="{{ path('outing_cancel', {'id': outing.id}) }}">Annuler la sortie</a>
{% endblock %}
