{% extends 'base.html.twig' %}

{% block title %}My profile ! {% endblock %}

{% block main %}
    <h3>Mon profil</h3>
    {{ form_start(profile) }}
    {{ form_widget(profile) }}
    {{ form_end(profile) }}
{% endblock %}
